/*CUSTOM CSS for MSGNC-Single-Page-Portfolio one page website*



/*CSS RESET*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
/*css for checking layout*/
/*div {
  border: 1px solid red;
  box-sizing: border-box;
}*/

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}




/*BUTTONS*/

.btn {
 font-size: 1.8rem;
}
#hero .btn {
    padding: 20px 65px;
    font-weight: 400;
    background-color: #EB7D4B;
    border-bottom: 4px solid #C86A40;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
}
#portfolio_section .btn.fil-cat{
    text-transform: uppercase;
    background: #EBC985;
    color:#000;
    padding: 10px 18px;
    outline: none;

}
#portfolio_section .btn.fil-cat:focus{
    background: #fff;
    color: #30BAE7;
    border: none;
    outline: none;
}
#portfolio_section .btn.fil-cat:hover {
    background: #fff;
    color: #30BAE7;
    outline: none;

}
#portfolio_section .btn-sm{
    background: #17C2A4;
    padding: 20px 58px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 4px solid #14A58C;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 80px;
}
#get_in_touch .btn{
    background: #30BAE7;
    color: #fff;
    border-bottom: 4px solid #299EC5;
    text-transform: uppercase;
    font-weight: 400;
    padding: 18px 58px;
    margin-top: 50px;
    margin-bottom: 110px;
}
 





/*NAVBAR*/
.navbar {
    background: #E7F1F8;
    border: none;
    box-shadow: none;
}
.navbar-nav {
     padding-top: 6px; 
}
.nav>li {
    padding: 0 5px;
}
.nav>li>a {
    padding: 10px 28px;

}
.navbar ul li a{
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color: #fff;
    background-color: #3C4760;
}
.navbar-default .navbar-nav>li>a:hover {
    border-radius: 6px;
    color: #fff;
    background-color: #3C4760;
}
.navbar-default .navbar-nav>li>a.current {
    border-radius: 6px;
    color: #fff;
    background-color: #3C4760;
}




/*HERO*/
#hero {
    background: #E7F1F8;
    height: 594px;
    margin: 0;
}





/*HEADER*/
header {
    background: #E7F1F8;
    margin: 0;
    padding-top: 200px;
}
header .intro-text {
    padding: 0;
    padding-bottom: 60px;
}
header h1 {
    font-size: 4rem;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 800px;
    font-weight: 600;
    color: #3C4761;
}






/*SERVICES*/
#services {
    min-height: 745px;
    background: #17C2A4;
    padding: 0;
    margin: 0;
    color: #fff;
    overflow: hidden;
}
.services_container {
    max-width: 1170px;
    margin: 0 auto;
}
#services h3 {
    padding-top: 117px;
    padding-bottom:18px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#services hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #14A58C;
    margin: 0 auto;
    padding: 0; 
    width:87px;

}
.services_intro {
    padding-bottom: 80px;
}
.services_intro p {
    font-size: 17px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 26px;
}
.services_item {
    float: left;
    width: 292px;
    text-align: center;
}
.services_item img{
    padding-bottom: 60px;
}
.services_item h4{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 28px;
}
.services_item p{
    font-size:15px;
    padding: 0 50px;

}




/*PORTFOLIO SECTION*/
#portfolio_section {
    background: #FFDD99;
    padding-bottom: 40px;
    text-align: center;
}

#portfolio_section h2{
    padding-top:122px;
    padding-bottom: 23px;
    font-size:40px;
    font-weight: 600;
    letter-spacing: 2px;
}

#portfolio_section hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #E5C37F;
    margin: 0 auto;
    padding-bottom: 23px; 
    width:87px;
}

#portfolio_section p{
    color:#000;
    padding-bottom: 40px;
    font-size: 1.6rem;
}
#portfolio_section .toolbar{
    padding-bottom:62px;
}
.types_of_services {
    text-align: center;
}





/*CONTACT SECTION*/
#get_in_touch {
    min-height: 680px;
    background: #3C5499;
}

#get_in_touch h2{
    padding-top: 120px;
    padding-bottom:20px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;

}
#get_in_touch hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #273A71;
    margin: 0 auto;
    padding-bottom: 23px; 
    width:87px;
}
#get_in_touch p{
    color:#fff;
    font-size: 17px;
}

.contact-form{
    padding-top:60px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
}



/*FORM CONTRROL*/
.form-control {
    background-color: #273A71;
    color: #fff;
    height: 50px;
    font-size: 1.5rem;
    border:none;
}
.form-control::-webkit-input-placeholder {
    color: #fff;   
}
.form-control-feedback {
    line-height: 49px;
}
.has-error .help-block, .has-error .form-control-feedback {
    color: #e09695;
}
.form-control.textarea{
    height:190px;
}




/*FOOTER*/
footer {
    background-color: #344B8E;
    height: 110px;
    font-size: 2rem;
    padding-top: 30px;
}
footer a {
    color: #fff;
    padding: 0 5px;
}
footer a:hover {
    color: #39AFDB;
    text-decoration: none;
}






/*MEDIA QUERIES*/

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        padding-top: 100px;
    }
    #portfolio img {
        width: 250px;
    }
    .services_item {
    width: auto;
    }
   
}


